In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
import re
import string
import nltk
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import GridSearchCV
from nltk.stem.porter import *
from sklearn.decomposition import TruncatedSVD

In [2]:
entrenamiento_df = pd.read_csv('Archivos/entrenamiento_df.csv')
entrenamiento_df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [3]:
test_df = pd.read_csv('Archivos/test_df.csv')
test_df

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [4]:
entrenamiento_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [6]:
#Reemplazo valores nulos de keyword por el mas frecuente

imp = SimpleImputer(strategy="most_frequent")
entrenamiento_df['keyword'] = imp.fit_transform(entrenamiento_df[['keyword']])
entrenamiento_df

,id,keyword,location,text,target
0,1,fatalities,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,fatalities,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,fatalities,NaN,All residents asked to 'shelter in place' are ...,1
3,6,fatalities,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,fatalities,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,fatalities,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,fatalities,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,fatalities,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,fatalities,NaN,Police investigating after an e-bike collided ...,1
7612,10873,fatalities,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [7]:
test_df['keyword'] = imp.transform(test_df[['keyword']])
test_df

,id,keyword,location,text
0,0,fatalities,NaN,Just happened a terrible car crash
1,2,fatalities,NaN,"Heard about #earthquake is different cities, s..."
2,3,fatalities,NaN,"there is a forest fire at spot pond, geese are..."
3,9,fatalities,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,fatalities,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,fatalities,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,fatalities,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,fatalities,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,fatalities,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,fatalities,NaN,#CityofCalgary has activated its Municipal Eme...

In [8]:
#La columna location tiene demasiados nulos, mejor la elimino

entrenamiento_df = entrenamiento_df.drop('location', axis=1)
entrenamiento_df

,id,keyword,text,target
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1
2,5,fatalities,All residents asked to 'shelter in place' are ...,1
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,fatalities,Police investigating after an e-bike collided ...,1
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1

In [9]:
test_df = test_df.drop('location', axis=1)
test_df

         id     keyword                                               text
0         0  fatalities                 Just happened a terrible car crash
1         2  fatalities  Heard about #earthquake is different cities, s...
2         3  fatalities  there is a forest fire at spot pond, geese are...
3         9  fatalities           Apocalypse lighting. #Spokane #wildfires
4        11  fatalities      Typhoon Soudelor kills 28 in China and Taiwan
...     ...         ...                                                ...
3258  10861  fatalities  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259  10865  fatalities  Storm in RI worse than last hurricane. My city...
3260  10868  fatalities  Green Line derailment in Chicago http://t.co/U...
3261  10874  fatalities  MEG issues Hazardous Weather Outlook (HWO) htt...
3262  10875  fatalities  #CityofCalgary has activated its Municipal Eme...

[3263 rows x 3 columns]

In [10]:
entrenamiento_df['hashtags_count'] = entrenamiento_df['text'].apply(lambda x: x.count('#'))
entrenamiento_df

,id,keyword,text,target,hashtags_count
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2
...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0

In [11]:
test_df['hashtags_count'] = test_df['text'].apply(lambda x: x.count('#'))
test_df

,id,keyword,text,hashtags_count
0,0,fatalities,Just happened a terrible car crash,0
1,2,fatalities,"Heard about #earthquake is different cities, s...",1
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0
...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2

In [12]:
entrenamiento_df['longitud_text'] = entrenamiento_df['text'].transform(lambda x: len(x))
entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88
...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94

In [13]:
test_df['longitud_text'] = test_df['text'].transform(lambda x: len(x))
test_df

,id,keyword,text,hashtags_count,longitud_text
0,0,fatalities,Just happened a terrible car crash,0,34
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45
...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68

In [14]:
entrenamiento_df['palabras_count'] = entrenamiento_df['text'].transform(lambda x: len(x.split()))
entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16
...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13

In [15]:
test_df['palabras_count'] = test_df['text'].transform(lambda x: len(x.split()))
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count
0,0,fatalities,Just happened a terrible car crash,0,34,6
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8
...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8

In [16]:
entrenamiento_df['mentions_count'] = entrenamiento_df['text'].apply(lambda x: x.count('@'))
entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count,mentions_count
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13,0
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7,0
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22,0
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8,0
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16,0
...,...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11,0
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20,2
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8,0
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19,0
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13,0

In [17]:
test_df['mentions_count'] = test_df['text'].apply(lambda x: x.count('@'))
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count,mentions_count
0,0,fatalities,Just happened a terrible car crash,0,34,6,0
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9,0
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19,0
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4,0
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8,0
...,...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8,0
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23,0
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6,0
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7,0
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8,0

In [18]:
entrenamiento_df['palabras_unicas_count'] = entrenamiento_df['text'].apply(lambda x: len(set(str(x).split())))
entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13,0,13
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7,0,7
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22,0,20
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8,0,8
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16,0,15
...,...,...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11,0,11
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20,2,17
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8,0,8
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19,0,19
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13,0,13

In [19]:
test_df['palabras_unicas_count'] = test_df['text'].apply(lambda x: len(set(str(x).split())))
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count
0,0,fatalities,Just happened a terrible car crash,0,34,6,0,6
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9,0,9
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19,0,19
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4,0,4
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8,0,8
...,...,...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8,0,7
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23,0,22
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6,0,6
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7,0,7
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8,0,8

In [20]:
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
entrenamiento_df['stopwords_count'] = entrenamiento_df['text'].apply(lambda x: len([w for w in str(x).lower().split() if w in stopwords]))
entrenamiento_df

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/elnic10/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13,0,13,6
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7,0,7,0
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22,0,20,11
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8,0,8,1
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16,0,15,7
...,...,...,...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11,0,11,2
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20,2,17,9
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8,0,8,2
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19,0,19,5
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13,0,13,3

In [21]:
test_df['stopwords_count'] = test_df['text'].apply(lambda x: len([w for w in str(x).lower().split() if w in stopwords]))
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count
0,0,fatalities,Just happened a terrible car crash,0,34,6,0,6,2
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9,0,9,2
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19,0,19,9
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4,0,4,0
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8,0,8,2
...,...,...,...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8,0,7,0
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23,0,22,6
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6,0,6,1
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7,0,7,0
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8,0,8,2

In [22]:
entrenamiento_df['url_count'] = entrenamiento_df['text'].apply(lambda x: len([w for w in str(x).lower().split() if 'http' in w or 'https' in w]))
entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13,0,13,6,0
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7,0,7,0,0
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22,0,20,11,0
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8,0,8,1,0
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16,0,15,7,0
...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11,0,11,2,1
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20,2,17,9,0
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8,0,8,2,1
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19,0,19,5,0
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13,0,13,3,1

In [23]:
test_df['url_count'] = test_df['text'].apply(lambda x: len([w for w in str(x).lower().split() if 'http' in w or 'https' in w]))
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count
0,0,fatalities,Just happened a terrible car crash,0,34,6,0,6,2,0
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9,0,9,2,0
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19,0,19,9,0
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4,0,4,0,0
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8,0,8,2,0
...,...,...,...,...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8,0,7,0,0
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23,0,22,6,0
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6,0,6,1,1
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7,0,7,0,1
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8,0,8,2,0

In [24]:
entrenamiento_df['longitud_palabra_mean'] = entrenamiento_df['text'].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13,0,13,6,0,4.384615
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7,0,7,0,0,4.571429
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22,0,20,11,0,5.090909
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8,0,8,1,0,7.125000
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16,0,15,7,0,4.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11,0,11,2,1,6.636364
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20,2,17,9,0,5.300000
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8,0,8,2,1,7.250000
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19,0,19,5,0,6.263158
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13,0,13,3,1,6.307692

In [25]:
test_df['longitud_palabra_mean'] = test_df['text'].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean
0,0,fatalities,Just happened a terrible car crash,0,34,6,0,6,2,0,4.833333
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9,0,9,2,0,6.222222
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19,0,19,9,0,4.105263
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4,0,4,0,0,9.250000
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8,0,8,2,0,4.750000
...,...,...,...,...,...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8,0,7,0,0,6.000000
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23,0,22,6,0,5.086957
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6,0,6,1,1,8.333333
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7,0,7,0,1,8.428571
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8,0,8,2,0,7.625000

In [26]:
entrenamiento_df['punctuation_count'] = entrenamiento_df['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]))
entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13,0,13,6,0,4.384615,1
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7,0,7,0,0,4.571429,1
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22,0,20,11,0,5.090909,3
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8,0,8,1,0,7.125000,2
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16,0,15,7,0,4.500000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11,0,11,2,1,6.636364,5
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20,2,17,9,0,5.300000,5
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8,0,8,2,1,7.250000,11
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19,0,19,5,0,6.263158,5
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13,0,13,3,1,6.307692,7

In [27]:
test_df['punctuation_count'] = test_df['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]))
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count
0,0,fatalities,Just happened a terrible car crash,0,34,6,0,6,2,0,4.833333,0
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9,0,9,2,0,6.222222,3
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19,0,19,9,0,4.105263,2
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4,0,4,0,0,9.250000,3
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8,0,8,2,0,4.750000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8,0,7,0,0,6.000000,0
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23,0,22,6,0,5.086957,5
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6,0,6,1,1,8.333333,5
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7,0,7,0,1,8.428571,7
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8,0,8,2,0,7.625000,3

In [28]:
def remove_url(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

def remove_html(text):
    html = re.compile(r'<.*?>')
    return html.sub(r'',text)

def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

def remove_punc(text):
    table = str.maketrans('','',string.punctuation)
    return text.translate(table)

In [29]:
slang_abbrev_dict = {
    'AFAIK': 'As Far As I Know',
    'AFK': 'Away From Keyboard',
    'ASAP': 'As Soon As Possible',
    'ATK': 'At The Keyboard',
    'ATM': 'At The Moment',
    'A3': 'Anytime, Anywhere, Anyplace',
    'BAK': 'Back At Keyboard',
    'BBL': 'Be Back Later',
    'BBS': 'Be Back Soon',
    'BFN': 'Bye For Now',
    'B4N': 'Bye For Now',
    'BRB': 'Be Right Back',
    'BRT': 'Be Right There',
    'BTW': 'By The Way',
    'B4': 'Before',
    'B4N': 'Bye For Now',
    'CU': 'See You',
    'CUL8R': 'See You Later',
    'CYA': 'See You',
    'FAQ': 'Frequently Asked Questions',
    'FC': 'Fingers Crossed',
    'FWIW': 'For What It\'s Worth',
    'FYI': 'For Your Information',
    'GAL': 'Get A Life',
    'GG': 'Good Game',
    'GN': 'Good Night',
    'GMTA': 'Great Minds Think Alike',
    'GR8': 'Great!',
    'G9': 'Genius',
    'IC': 'I See',
    'ICQ': 'I Seek you',
    'ILU': 'I Love You',
    'IMHO': 'In My Humble Opinion',
    'IMO': 'In My Opinion',
    'IOW': 'In Other Words',
    'IRL': 'In Real Life',
    'KISS': 'Keep It Simple, Stupid',
    'LDR': 'Long Distance Relationship',
    'LMAO': 'Laugh My Ass Off',
    'LOL': 'Laughing Out Loud',
    'LTNS': 'Long Time No See',
    'L8R': 'Later',
    'MTE': 'My Thoughts Exactly',
    'M8': 'Mate',
    'NRN': 'No Reply Necessary',
    'OIC': 'Oh I See',
    'OMG': 'Oh My God',
    'PITA': 'Pain In The Ass',
    'PRT': 'Party',
    'PRW': 'Parents Are Watching',
    'QPSA?': 'Que Pasa?',
    'ROFL': 'Rolling On The Floor Laughing',
    'ROFLOL': 'Rolling On The Floor Laughing Out Loud',
    'ROTFLMAO': 'Rolling On The Floor Laughing My Ass Off',
    'SK8': 'Skate',
    'STATS': 'Your sex and age',
    'ASL': 'Age, Sex, Location',
    'THX': 'Thank You',
    'TTFN': 'Ta-Ta For Now!',
    'TTYL': 'Talk To You Later',
    'U': 'You',
    'U2': 'You Too',
    'U4E': 'Yours For Ever',
    'WB': 'Welcome Back',
    'WTF': 'What The Fuck',
    'WTG': 'Way To Go!',
    'WUF': 'Where Are You From?',
    'W8': 'Wait',
    '7K': 'Sick:-D Laugher'
}

def unslang(text):
    if text.upper() in slang_abbrev_dict.keys():
        return slang_abbrev_dict[text.upper()]
    else:
        return text

In [30]:
def tokenization(text):
    text = re.split('\W+', text)
    return text

stemmer = PorterStemmer()

def remove_stopwords(text):
    text = [word for word in text if word not in stopwords]
    return text

def stemming(text):
    text = [stemmer.stem(word) for word in text]
    return text

In [31]:
for datas in [entrenamiento_df, test_df]:
    datas['cleaned_text'] = datas['text'].apply(lambda x : remove_url(x))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : remove_html(x))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : remove_emoji(x))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : unslang(x))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : remove_punc(x))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : tokenization(x.lower()))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : remove_stopwords(x))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : stemming(x))
    datas['cleaned_text'] = datas['cleaned_text'].apply(lambda x : ' '.join(x))

entrenamiento_df

,id,keyword,text,target,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,cleaned_text
0,1,fatalities,Our Deeds are the Reason of this #earthquake M...,1,1,69,13,0,13,6,0,4.384615,1,deed reason earthquak may allah forgiv us
1,4,fatalities,Forest fire near La Ronge Sask. Canada,1,0,38,7,0,7,0,0,4.571429,1,forest fire near la rong sask canada
2,5,fatalities,All residents asked to 'shelter in place' are ...,1,0,133,22,0,20,11,0,5.090909,3,resid ask shelter place notifi offic evacu she...
3,6,fatalities,"13,000 people receive #wildfires evacuation or...",1,1,65,8,0,8,1,0,7.125000,2,13000 peopl receiv wildfir evacu order califor...
4,7,fatalities,Just got sent this photo from Ruby #Alaska as ...,1,2,88,16,0,15,7,0,4.500000,2,got sent photo rubi alaska smoke wildfir pour ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,10869,fatalities,Two giant cranes holding a bridge collapse int...,1,0,83,11,0,11,2,1,6.636364,5,two giant crane hold bridg collaps nearbi home
7609,10870,fatalities,@aria_ahrary @TheTawniest The out of control w...,1,0,125,20,2,17,9,0,5.300000,5,ariaahrari thetawniest control wild fire calif...
7610,10871,fatalities,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,0,65,8,0,8,2,1,7.250000,11,m194 0104 utc5km volcano hawaii
7611,10872,fatalities,Police investigating after an e-bike collided ...,1,0,137,19,0,19,5,0,6.263158,5,polic investig ebik collid car littl portug eb...
7612,10873,fatalities,The Latest: More Homes Razed by Northern Calif...,1,0,94,13,0,13,3,1,6.307692,7,latest home raze northern california wildfir a...

In [32]:
test_df

,id,keyword,text,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,cleaned_text
0,0,fatalities,Just happened a terrible car crash,0,34,6,0,6,2,0,4.833333,0,happen terribl car crash
1,2,fatalities,"Heard about #earthquake is different cities, s...",1,64,9,0,9,2,0,6.222222,3,heard earthquak differ citi stay safe everyon
2,3,fatalities,"there is a forest fire at spot pond, geese are...",0,96,19,0,19,9,0,4.105263,2,forest fire spot pond gees flee across street ...
3,9,fatalities,Apocalypse lighting. #Spokane #wildfires,2,40,4,0,4,0,0,9.250000,3,apocalyps light spokan wildfir
4,11,fatalities,Typhoon Soudelor kills 28 in China and Taiwan,0,45,8,0,8,2,0,4.750000,0,typhoon soudelor kill 28 china taiwan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,10861,fatalities,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,0,55,8,0,7,0,0,6.000000,0,earthquak safeti lo angel ûò safeti fasten xrwn
3259,10865,fatalities,Storm in RI worse than last hurricane. My city...,0,139,23,0,22,6,0,5.086957,5,storm ri wors last hurrican cityamp3oth hardes...
3260,10868,fatalities,Green Line derailment in Chicago http://t.co/U...,0,55,6,0,6,1,1,8.333333,5,green line derail chicago
3261,10874,fatalities,MEG issues Hazardous Weather Outlook (HWO) htt...,0,65,7,0,7,0,1,8.428571,7,meg issu hazard weather outlook hwo
3262,10875,fatalities,#CityofCalgary has activated its Municipal Eme...,2,68,8,0,8,2,0,7.625000,3,cityofcalgari activ municip emerg plan yycstorm

In [33]:
X = entrenamiento_df.drop(['id', 'text', 'target'], axis = 1)
y = entrenamiento_df['target']
display(X)
display(y)

,keyword,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,cleaned_text
0,fatalities,1,69,13,0,13,6,0,4.384615,1,deed reason earthquak may allah forgiv us
1,fatalities,0,38,7,0,7,0,0,4.571429,1,forest fire near la rong sask canada
2,fatalities,0,133,22,0,20,11,0,5.090909,3,resid ask shelter place notifi offic evacu she...
3,fatalities,1,65,8,0,8,1,0,7.125000,2,13000 peopl receiv wildfir evacu order califor...
4,fatalities,2,88,16,0,15,7,0,4.500000,2,got sent photo rubi alaska smoke wildfir pour ...
...,...,...,...,...,...,...,...,...,...,...,...
7608,fatalities,0,83,11,0,11,2,1,6.636364,5,two giant crane hold bridg collaps nearbi home
7609,fatalities,0,125,20,2,17,9,0,5.300000,5,ariaahrari thetawniest control wild fire calif...
7610,fatalities,0,65,8,0,8,2,1,7.250000,11,m194 0104 utc5km volcano hawaii
7611,fatalities,0,137,19,0,19,5,0,6.263158,5,polic investig ebik collid car littl portug eb...
7612,fatalities,0,94,13,0,13,3,1,6.307692,7,latest home raze northern california wildfir a...

0       1
1       1
2       1
3       1
4       1
       ..
7608    1
7609    1
7610    1
7611    1
7612    1
Name: target, Length: 7613, dtype: int64

In [34]:
test_df = test_df.drop(['id', 'text'], axis = 1)
test_df

,keyword,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,cleaned_text
0,fatalities,0,34,6,0,6,2,0,4.833333,0,happen terribl car crash
1,fatalities,1,64,9,0,9,2,0,6.222222,3,heard earthquak differ citi stay safe everyon
2,fatalities,0,96,19,0,19,9,0,4.105263,2,forest fire spot pond gees flee across street ...
3,fatalities,2,40,4,0,4,0,0,9.250000,3,apocalyps light spokan wildfir
4,fatalities,0,45,8,0,8,2,0,4.750000,0,typhoon soudelor kill 28 china taiwan
...,...,...,...,...,...,...,...,...,...,...,...
3258,fatalities,0,55,8,0,7,0,0,6.000000,0,earthquak safeti lo angel ûò safeti fasten xrwn
3259,fatalities,0,139,23,0,22,6,0,5.086957,5,storm ri wors last hurrican cityamp3oth hardes...
3260,fatalities,0,55,6,0,6,1,1,8.333333,5,green line derail chicago
3261,fatalities,0,65,7,0,7,0,1,8.428571,7,meg issu hazard weather outlook hwo
3262,fatalities,2,68,8,0,8,2,0,7.625000,3,cityofcalgari activ municip emerg plan yycstorm

In [35]:
#One hot encoding para keyword

encoder = OneHotEncoder(sparse = False)
transformed = encoder.fit_transform(X[['keyword']])
onehot_df = pd.DataFrame(transformed, columns = encoder.get_feature_names())
X = pd.concat([X, onehot_df], axis = 1).drop(['keyword'], axis = 1)
X

,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,cleaned_text,...,x0_weapons,x0_whirlwind,x0_wild fires,x0_wildfire,x0_windstorm,x0_wounded,x0_wounds,x0_wreck,x0_wreckage,x0_wrecked
0,1,69,13,0,13,6,0,4.384615,1,deed reason earthquak may allah forgiv us,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,38,7,0,7,0,0,4.571429,1,forest fire near la rong sask canada,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,133,22,0,20,11,0,5.090909,3,resid ask shelter place notifi offic evacu she...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,65,8,0,8,1,0,7.125000,2,13000 peopl receiv wildfir evacu order califor...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,88,16,0,15,7,0,4.500000,2,got sent photo rubi alaska smoke wildfir pour ...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,0,83,11,0,11,2,1,6.636364,5,two giant crane hold bridg collaps nearbi home,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7609,0,125,20,2,17,9,0,5.300000,5,ariaahrari thetawniest control wild fire calif...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7610,0,65,8,0,8,2,1,7.250000,11,m194 0104 utc5km volcano hawaii,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7611,0,137,19,0,19,5,0,6.263158,5,polic investig ebik collid car littl portug eb...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7612,0,94,13,0,13,3,1,6.307692,7,latest home raze northern california wildfir a...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
transformed = encoder.transform(test_df[['keyword']])
onehot_df = pd.DataFrame(transformed, columns = encoder.get_feature_names())
test_df = pd.concat([test_df, onehot_df], axis = 1).drop(['keyword'], axis = 1)
test_df

,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,cleaned_text,...,x0_weapons,x0_whirlwind,x0_wild fires,x0_wildfire,x0_windstorm,x0_wounded,x0_wounds,x0_wreck,x0_wreckage,x0_wrecked
0,0,34,6,0,6,2,0,4.833333,0,happen terribl car crash,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,64,9,0,9,2,0,6.222222,3,heard earthquak differ citi stay safe everyon,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,96,19,0,19,9,0,4.105263,2,forest fire spot pond gees flee across street ...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2,40,4,0,4,0,0,9.250000,3,apocalyps light spokan wildfir,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,45,8,0,8,2,0,4.750000,0,typhoon soudelor kill 28 china taiwan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,0,55,8,0,7,0,0,6.000000,0,earthquak safeti lo angel ûò safeti fasten xrwn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3259,0,139,23,0,22,6,0,5.086957,5,storm ri wors last hurrican cityamp3oth hardes...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3260,0,55,6,0,6,1,1,8.333333,5,green line derail chicago,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3261,0,65,7,0,7,0,1,8.428571,7,meg issu hazard weather outlook hwo,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3262,2,68,8,0,8,2,0,7.625000,3,cityofcalgari activ municip emerg plan yycstorm,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#Bag of Words para el texto, reduciendo la dimensionalidad con SVD

vectorizer = CountVectorizer(max_df = 0.5, min_df = 0.001)
count_matrix = vectorizer.fit_transform(X['cleaned_text'])
svd = TruncatedSVD(n_components = 100, random_state = 42)
transformed = svd.fit_transform(count_matrix)
bow_df = pd.DataFrame(transformed)
X = pd.concat([X, bow_df], axis = 1).drop(['cleaned_text'], axis = 1)
X

,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,x0_ablaze,...,90,91,92,93,94,95,96,97,98,99
0,1,69,13,0,13,6,0,4.384615,1,0.0,...,0.042085,0.009170,-0.025569,-0.054090,0.090007,-0.044475,0.006980,-0.066704,0.121255,0.167966
1,0,38,7,0,7,0,0,4.571429,1,0.0,...,-0.127851,-0.102480,-0.008068,-0.083326,-0.031990,-0.077703,0.012828,-0.011679,0.123143,0.050880
2,0,133,22,0,20,11,0,5.090909,3,0.0,...,-0.009476,0.055680,0.001517,0.024796,-0.004601,0.119503,0.003549,-0.003830,-0.080904,0.043816
3,1,65,8,0,8,1,0,7.125000,2,0.0,...,0.065633,0.133666,-0.020094,0.027161,0.169223,0.069422,0.065957,-0.087421,-0.103379,0.081976
4,2,88,16,0,15,7,0,4.500000,2,0.0,...,0.057264,0.170978,0.115285,-0.116880,-0.032356,-0.141594,-0.086153,0.178350,0.097697,-0.024190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,0,83,11,0,11,2,1,6.636364,5,0.0,...,-0.039399,0.087481,-0.130953,-0.070793,-0.049512,0.022383,-0.095802,-0.184718,0.113096,-0.097487
7609,0,125,20,2,17,9,0,5.300000,5,0.0,...,0.178595,0.109997,0.183553,0.051309,0.149375,0.124732,-0.010233,-0.038208,-0.108181,-0.098354
7610,0,65,8,0,8,2,1,7.250000,11,0.0,...,-0.012148,0.031381,0.024795,-0.024511,0.059414,-0.022065,-0.005857,-0.066975,0.035344,0.117223
7611,0,137,19,0,19,5,0,6.263158,5,0.0,...,0.125147,-0.162566,0.253979,0.003558,0.055036,-0.072834,-0.208830,-0.174954,0.058478,-0.118365
7612,0,94,13,0,13,3,1,6.307692,7,0.0,...,-0.001672,-0.077769,0.044711,0.068631,0.110774,-0.088948,-0.022786,-0.001137,0.063120,0.027045

In [38]:
count_matrix = vectorizer.transform(test_df['cleaned_text'])
transformed = svd.transform(count_matrix)
bow_df = pd.DataFrame(transformed)
test_df = pd.concat([test_df, bow_df], axis = 1).drop(['cleaned_text'], axis = 1)
test_df

,hashtags_count,longitud_text,palabras_count,mentions_count,palabras_unicas_count,stopwords_count,url_count,longitud_palabra_mean,punctuation_count,x0_ablaze,...,90,91,92,93,94,95,96,97,98,99
0,0,34,6,0,6,2,0,4.833333,0,0.0,...,-0.068436,0.041659,0.048278,-0.138354,0.143883,-0.073693,0.031290,0.040446,-0.013780,-0.117345
1,1,64,9,0,9,2,0,6.222222,3,0.0,...,-0.002702,0.027568,0.057547,-0.022631,0.194848,0.062614,0.074146,-0.061645,-0.130015,0.225413
2,0,96,19,0,19,9,0,4.105263,2,0.0,...,-0.104052,0.042090,0.084979,0.014702,-0.155721,-0.004691,0.001273,-0.129142,0.122939,-0.117817
3,2,40,4,0,4,0,0,9.250000,3,0.0,...,0.008102,-0.031915,0.024307,0.050729,0.043847,0.006539,0.098550,-0.088659,0.038176,0.034863
4,0,45,8,0,8,2,0,4.750000,0,0.0,...,0.109335,0.010639,0.053875,0.057294,-0.063591,0.100343,0.082130,-0.124887,0.180426,0.112113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,0,55,8,0,7,0,0,6.000000,0,0.0,...,-0.028699,0.033536,-0.008920,-0.058059,0.136809,-0.023200,0.035400,-0.121111,0.059514,0.163377
3259,0,139,23,0,22,6,0,5.086957,5,0.0,...,0.136332,0.271629,-0.179611,0.317913,-0.202079,0.014635,0.324979,-0.207263,0.029508,-0.248993
3260,0,55,6,0,6,1,1,8.333333,5,0.0,...,-0.020520,0.014194,0.034448,-0.078340,-0.001244,0.050648,-0.022320,-0.029590,-0.023879,0.056699
3261,0,65,7,0,7,0,1,8.428571,7,0.0,...,0.160399,-0.045721,0.027293,-0.045845,0.013197,-0.101579,-0.267951,0.114358,0.095710,-0.159530
3262,2,68,8,0,8,2,0,7.625000,3,0.0,...,0.072245,-0.015676,-0.027129,0.053954,0.077294,-0.070995,0.052063,-0.098637,-0.109295,0.037365

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

eval_set = [(X_train, y_train), (X_test, y_test)]

params = {
    'learning_rate':0.1,
    'n_estimators':1000,
    'max_depth':5,
    'min_child_weight':1,
    'gamma':0,
    'subsample':0.8,
    'colsample_bytree':0.8,
    'objective':'binary:logistic',
    'nthread':4,
    'scale_pos_weight':1,
    'seed':27
}

#Busco la cantidad optima de arboles

xgboost = XGBClassifier(**params)

xgboost.fit(X_train, y_train, eval_set = eval_set, early_stopping_rounds = 50)

print('Train Score', xgboost.score(X_train, y_train))
print('Test Score', xgboost.score(X_test, y_test))

[0]	validation_0-error:0.25539	validation_1-error:0.27731
Multiple eval metrics have been passed: 'validation_1-error' will be used for early stopping.

Will train until validation_1-error hasn't improved in 50 rounds.
[1]	validation_0-error:0.23507	validation_1-error:0.27048
[2]	validation_0-error:0.23261	validation_1-error:0.25840
[3]	validation_0-error:0.22543	validation_1-error:0.24580
[4]	validation_0-error:0.21405	validation_1-error:0.25052
[5]	validation_0-error:0.21124	validation_1-error:0.24895
[6]	validation_0-error:0.20424	validation_1-error:0.24212
[7]	validation_0-error:0.20529	validation_1-error:0.24422
[8]	validation_0-error:0.19653	validation_1-error:0.23582
[9]	validation_0-error:0.19863	validation_1-error:0.23372
[10]	validation_0-error:0.19828	validation_1-error:0.23319
[11]	validation_0-error:0.19180	validation_1-error:0.23582
[12]	validation_0-error:0.19495	validation_1-error:0.23739
[13]	validation_0-error:0.19040	validation_1-error:0.24107
[14]	validation_0-error:0.19023	validation_1-error:0.24002
[15]	validation_0-error:0.18357	validation_1-error:0.23529
[16]	validation_0-error:0.18217	validation_1-error:0.23477
[17]	validation_0-error:0.18374	validation_1-error:0.23267
[18]	validation_0-error:0.18217	validation_1-error:0.23004
[19]	validation_0-error:0.17902	validation_1-error:0.22794
[20]	validation_0-error:0.17814	validation_1-error:0.22899
[21]	validation_0-error:0.17849	validation_1-error:0.22637
[22]	validation_0-error:0.17726	validation_1-error:0.22689
[23]	validation_0-error:0.17113	validation_1-error:0.22847
[24]	validation_0-error:0.17096	validation_1-error:0.22742
[25]	validation_0-error:0.16886	validation_1-error:0.22584
[26]	validation_0-error:0.16763	validation_1-error:0.22426
[27]	validation_0-error:0.16360	validation_1-error:0.22374
[28]	validation_0-error:0.16413	validation_1-error:0.22321
[29]	validation_0-error:0.16097	validation_1-error:0.22164
[30]	validation_0-error:0.16027	validation_1-error:0.22059
[31]	validation_0-error:0.15992	validation_1-error:0.22164
[32]	validation_0-error:0.15747	validation_1-error:0.22374
[33]	validation_0-error:0.15537	validation_1-error:0.22216
[34]	validation_0-error:0.15484	validation_1-error:0.22111
[35]	validation_0-error:0.15432	validation_1-error:0.22269
[36]	validation_0-error:0.15327	validation_1-error:0.22321
[37]	validation_0-error:0.15204	validation_1-error:0.21744
[38]	validation_0-error:0.14976	validation_1-error:0.21639
[39]	validation_0-error:0.14889	validation_1-error:0.21481
[40]	validation_0-error:0.14871	validation_1-error:0.21429
[41]	validation_0-error:0.14714	validation_1-error:0.21219
[42]	validation_0-error:0.14661	validation_1-error:0.21324
[43]	validation_0-error:0.14854	validation_1-error:0.21271
[44]	validation_0-error:0.14591	validation_1-error:0.21534
[45]	validation_0-error:0.14574	validation_1-error:0.21481
[46]	validation_0-error:0.14556	validation_1-error:0.21481
[47]	validation_0-error:0.14276	validation_1-error:0.21429
[48]	validation_0-error:0.14188	validation_1-error:0.21586
[49]	validation_0-error:0.14136	validation_1-error:0.21534
[50]	validation_0-error:0.14136	validation_1-error:0.21429
[51]	validation_0-error:0.13960	validation_1-error:0.21481
[52]	validation_0-error:0.13960	validation_1-error:0.21429
[53]	validation_0-error:0.13908	validation_1-error:0.21376
[54]	validation_0-error:0.13820	validation_1-error:0.21166
[55]	validation_0-error:0.13698	validation_1-error:0.21324
[56]	validation_0-error:0.13663	validation_1-error:0.21113
[57]	validation_0-error:0.13260	validation_1-error:0.21271
[58]	validation_0-error:0.13260	validation_1-error:0.21113
[59]	validation_0-error:0.13172	validation_1-error:0.21061
[60]	validation_0-error:0.13137	validation_1-error:0.20956
[61]	validation_0-error:0.13155	validation_1-error:0.21008
[62]	validation_0-error:0.12962	validation_1-error:0.20956
[63]	validation_0-error:0.12962	validation_1-error:0.21008
[64]	validation_0-error:0.12945	validation_1-error:0.20903
[65]	validation_0-error:0.12962	validation_1-error:0.21166
[66]	validation_0-error:0.12857	validation_1-error:0.21219
[67]	validation_0-error:0.12769	validation_1-error:0.21271
[68]	validation_0-error:0.12664	validation_1-error:0.21166
[69]	validation_0-error:0.12542	validation_1-error:0.21481
[70]	validation_0-error:0.12507	validation_1-error:0.21376
[71]	validation_0-error:0.12542	validation_1-error:0.21481
[72]	validation_0-error:0.12507	validation_1-error:0.21113
[73]	validation_0-error:0.12454	validation_1-error:0.21113
[74]	validation_0-error:0.12454	validation_1-error:0.21376
[75]	validation_0-error:0.12244	validation_1-error:0.21429
[76]	validation_0-error:0.11999	validation_1-error:0.21534
[77]	validation_0-error:0.12051	validation_1-error:0.21586
[78]	validation_0-error:0.11841	validation_1-error:0.21429
[79]	validation_0-error:0.11858	validation_1-error:0.21429
[80]	validation_0-error:0.11823	validation_1-error:0.21271
[81]	validation_0-error:0.11823	validation_1-error:0.21324
[82]	validation_0-error:0.11666	validation_1-error:0.21271
[83]	validation_0-error:0.11683	validation_1-error:0.21324
[84]	validation_0-error:0.11613	validation_1-error:0.21219
[85]	validation_0-error:0.11631	validation_1-error:0.21219
[86]	validation_0-error:0.11491	validation_1-error:0.21166
[87]	validation_0-error:0.11438	validation_1-error:0.21166
[88]	validation_0-error:0.11368	validation_1-error:0.21166
[89]	validation_0-error:0.11280	validation_1-error:0.21219
[90]	validation_0-error:0.11210	validation_1-error:0.21219
[91]	validation_0-error:0.11158	validation_1-error:0.21376
[92]	validation_0-error:0.11018	validation_1-error:0.21271
[93]	validation_0-error:0.10825	validation_1-error:0.21481
[94]	validation_0-error:0.10825	validation_1-error:0.21376
[95]	validation_0-error:0.10685	validation_1-error:0.21113
[96]	validation_0-error:0.10597	validation_1-error:0.21113
[97]	validation_0-error:0.10510	validation_1-error:0.21376
[98]	validation_0-error:0.10177	validation_1-error:0.21324
[99]	validation_0-error:0.10265	validation_1-error:0.21376
[100]	validation_0-error:0.10089	validation_1-error:0.21113
[101]	validation_0-error:0.09949	validation_1-error:0.21219
[102]	validation_0-error:0.10037	validation_1-error:0.21324
[103]	validation_0-error:0.09932	validation_1-error:0.21271
[104]	validation_0-error:0.09756	validation_1-error:0.21113
[105]	validation_0-error:0.09634	validation_1-error:0.21166
[106]	validation_0-error:0.09599	validation_1-error:0.21113
[107]	validation_0-error:0.09616	validation_1-error:0.21113
[108]	validation_0-error:0.09511	validation_1-error:0.21166
[109]	validation_0-error:0.09529	validation_1-error:0.21586
[110]	validation_0-error:0.09354	validation_1-error:0.21534
[111]	validation_0-error:0.09336	validation_1-error:0.21534
[112]	validation_0-error:0.09301	validation_1-error:0.21586
[113]	validation_0-error:0.09179	validation_1-error:0.21376
[114]	validation_0-error:0.09091	validation_1-error:0.21376
Stopping. Best iteration:
[64]	validation_0-error:0.12945	validation_1-error:0.20903

Train Score 0.8705552636188474
Test Score 0.7909663865546218

In [40]:
n_estimators = xgboost.get_booster().best_ntree_limit
params['n_estimators'] = n_estimators
n_estimators

65

In [41]:
%%time

param_test = {
 'max_depth':range(3,10,2),
 'min_child_weight':range(1,6,2)
}
cv = GridSearchCV(estimator = XGBClassifier(**params), param_grid = param_test,\
                  n_jobs=-1, scoring = 'f1')
cv.fit(X_train,y_train)
pd.DataFrame(cv.cv_results_), cv.best_params_, cv.best_score_

CPU times: user 8.65 s, sys: 297 ms, total: 8.94 s
Wall time: 2min 30s

(    mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
 0        6.477475      0.170623         0.108559        0.034652
 1        6.014943      0.174778         0.093745        0.011238
 2        5.293064      0.568080         0.076185        0.019792
 3        7.741161      0.219140         0.065270        0.008012
 4        6.057823      0.434550         0.070459        0.009106
 5        7.437628      0.719098         0.075873        0.002381
 6       12.071527      0.664648         0.077902        0.007664
 7       11.609182      0.623155         0.067920        0.012581
 8       10.771276      1.274534         0.075311        0.006240
 9       16.131578      0.886634         0.094913        0.013974
 10      13.953627      1.361337         0.079884        0.005316
 11      10.053705      2.428238         0.053736        0.018074

    param_max_depth param_min_child_weight  \
 0                3                      1
 1                3                      3
 2                3                      5
 3                5                      1
 4                5                      3
 5                5                      5
 6                7                      1
 7                7                      3
 8                7                      5
 9                9                      1
 10               9                      3
 11               9                      5

                                      params  split0_test_score  \
 0   {'max_depth': 3, 'min_child_weight': 1}           0.678941
 1   {'max_depth': 3, 'min_child_weight': 3}           0.677201
 2   {'max_depth': 3, 'min_child_weight': 5}           0.676640
 3   {'max_depth': 5, 'min_child_weight': 1}           0.699552
 4   {'max_depth': 5, 'min_child_weight': 3}           0.707589
 5   {'max_depth': 5, 'min_child_weight': 5}           0.725250
 6   {'max_depth': 7, 'min_child_weight': 1}           0.715556
 7   {'max_depth': 7, 'min_child_weight': 3}           0.701559
 8   {'max_depth': 7, 'min_child_weight': 5}           0.704955
 9   {'max_depth': 9, 'min_child_weight': 1}           0.702762
 10  {'max_depth': 9, 'min_child_weight': 3}           0.707182
 11  {'max_depth': 9, 'min_child_weight': 5}           0.704444

     split1_test_score  split2_test_score  split3_test_score  \
 0            0.733844           0.710112           0.679287
 1            0.738895           0.705085           0.695067
 2            0.727669           0.703495           0.694972
 3            0.724359           0.729517           0.700441
 4            0.731915           0.733556           0.685144
 5            0.736170           0.730769           0.681367
 6            0.721277           0.733333           0.698901
 7            0.724731           0.730337           0.697674
 8            0.722222           0.732084           0.704471
 9            0.721030           0.726467           0.676957
 10           0.730361           0.728492           0.693966
 11           0.728421           0.716352           0.703983

     split4_test_score  mean_test_score  std_test_score  rank_test_score
 0            0.686801         0.697797        0.021308               12
 1            0.686869         0.700623        0.021229               10
 2            0.689732         0.698502        0.016988               11
 3            0.692725         0.709319        0.014722                8
 4            0.705367         0.712714        0.018130                3
 5            0.687842         0.712280        0.022951                4
 6            0.698482         0.713510        0.013392                1
 7            0.700109         0.710882        0.013767                6
 8            0.701525         0.713051        0.011986                2
 9            0.703226         0.706089        0.017358                9
 10           0.695939         0.711188        0.015571                5
 11           0.697326         0.710105        0.011021                7  ,
 {'max_depth': 7, 'min_child_weight': 1},
 0.713509629071359)

In [42]:
%%time

param_test = {
 'max_depth':[6,7,8],
 'min_child_weight':[1,2]
}
cv = GridSearchCV(estimator = XGBClassifier(**params), param_grid = param_test,\
                        n_jobs=-1, scoring = 'f1')
cv.fit(X_train,y_train)
pd.DataFrame(cv.cv_results_), cv.best_params_, cv.best_score_

CPU times: user 8.65 s, sys: 96.4 ms, total: 8.75 s
Wall time: 1min 26s

(   mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
 0       9.617438      0.595955         0.072664        0.010980
 1       9.805320      0.639467         0.080722        0.014102
 2      12.012328      0.660455         0.074305        0.004494
 3      11.018944      0.788283         0.078716        0.003688
 4      12.630615      0.795383         0.074334        0.004190
 5      10.260005      2.790450         0.051130        0.022231

   param_max_depth param_min_child_weight  \
 0               6                      1
 1               6                      2
 2               7                      1
 3               7                      2
 4               8                      1
 5               8                      2

                                     params  split0_test_score  \
 0  {'max_depth': 6, 'min_child_weight': 1}           0.693333
 1  {'max_depth': 6, 'min_child_weight': 2}           0.703003
 2  {'max_depth': 7, 'min_child_weight': 1}           0.715556
 3  {'max_depth': 7, 'min_child_weight': 2}           0.715556
 4  {'max_depth': 8, 'min_child_weight': 1}           0.715232
 5  {'max_depth': 8, 'min_child_weight': 2}           0.700000

    split1_test_score  split2_test_score  split3_test_score  split4_test_score  \
 0           0.729586           0.734375           0.691030           0.694054
 1           0.726115           0.736959           0.680617           0.695082
 2           0.721277           0.733333           0.698901           0.698482
 3           0.729387           0.734289           0.692810           0.702703
 4           0.728033           0.729700           0.695464           0.699894
 5           0.732841           0.741549           0.692896           0.694054

    mean_test_score  std_test_score  rank_test_score
 0         0.708476        0.019277                5
 1         0.708355        0.020532                6
 2         0.713510        0.013392                3
 3         0.714949        0.015639                1
 4         0.713665        0.014049                2
 5         0.712268        0.020679                4  ,
 {'max_depth': 7, 'min_child_weight': 2},
 0.7149488944680561)

In [43]:
params['max_depth'] = 7
params['min_child_weight'] = 2

In [44]:
%%time

param_test = {
 'gamma':[i/10.0 for i in range(0,5)]
}
cv = GridSearchCV(estimator = XGBClassifier( learning_rate =0.1, n_estimators=n_estimators, max_depth=7,
 min_child_weight=2, gamma=0, subsample=0.8, colsample_bytree=0.8,
 objective= 'binary:logistic', nthread=4, scale_pos_weight=1, seed=27), 
 param_grid = param_test, n_jobs=-1, scoring = 'f1')
cv.fit(X_train,y_train)
pd.DataFrame(cv.cv_results_), cv.best_params_, cv.best_score_

CPU times: user 8.64 s, sys: 63.5 ms, total: 8.71 s
Wall time: 1min 9s

(   mean_fit_time  std_fit_time  mean_score_time  std_score_time param_gamma  \
 0      10.734821      0.733003         0.082224        0.006439           0
 1      10.813193      0.651469         0.074723        0.004265         0.1
 2      10.791720      1.250061         0.070501        0.007258         0.2
 3       9.955178      1.487613         0.075962        0.004127         0.3
 4       8.903181      2.387891         0.053421        0.021269         0.4

            params  split0_test_score  split1_test_score  split2_test_score  \
 0  {'gamma': 0.0}           0.715556           0.729387           0.734289
 1  {'gamma': 0.1}           0.714127           0.728033           0.741474
 2  {'gamma': 0.2}           0.706667           0.728814           0.739274
 3  {'gamma': 0.3}           0.705100           0.725367           0.737991
 4  {'gamma': 0.4}           0.707965           0.734258           0.743229

    split3_test_score  split4_test_score  mean_test_score  std_test_score  \
 0           0.692810           0.702703         0.714949        0.015639
 1           0.686404           0.703176         0.714643        0.019123
 2           0.688312           0.691304         0.710874        0.020190
 3           0.691810           0.714134         0.714880        0.015953
 4           0.680435           0.699784         0.713134        0.022918

    rank_test_score
 0                1
 1                3
 2                5
 3                2
 4                4  ,
 {'gamma': 0.0},
 0.7149488944680561)

In [45]:
%%time

#Vuelvo a buscar el numero de arboles optimo para los nuevos hiperparametros
params['n_estimators'] = 1000

xgboost = XGBClassifier(**params)

xgboost.fit(X_train, y_train,eval_set = eval_set, early_stopping_rounds = 50)

print('Train Score', xgboost.score(X_train, y_train))
print('Test Score', xgboost.score(X_test, y_test))

[0]	validation_0-error:0.21895	validation_1-error:0.26365
Multiple eval metrics have been passed: 'validation_1-error' will be used for early stopping.

Will train until validation_1-error hasn't improved in 50 rounds.
[1]	validation_0-error:0.19653	validation_1-error:0.26155
[2]	validation_0-error:0.19040	validation_1-error:0.24842
[3]	validation_0-error:0.18042	validation_1-error:0.23897
[4]	validation_0-error:0.17008	validation_1-error:0.23057
[5]	validation_0-error:0.16430	validation_1-error:0.23162
[6]	validation_0-error:0.15940	validation_1-error:0.23372
[7]	validation_0-error:0.15327	validation_1-error:0.22637
[8]	validation_0-error:0.15257	validation_1-error:0.22637
[9]	validation_0-error:0.14854	validation_1-error:0.22059
[10]	validation_0-error:0.14889	validation_1-error:0.22006
[11]	validation_0-error:0.14749	validation_1-error:0.21849
[12]	validation_0-error:0.14486	validation_1-error:0.21691
[13]	validation_0-error:0.14276	validation_1-error:0.21954
[14]	validation_0-error:0.13715	validation_1-error:0.21744
[15]	validation_0-error:0.13382	validation_1-error:0.21691
[16]	validation_0-error:0.13505	validation_1-error:0.21639
[17]	validation_0-error:0.13435	validation_1-error:0.21691
[18]	validation_0-error:0.13085	validation_1-error:0.21429
[19]	validation_0-error:0.12857	validation_1-error:0.21324
[20]	validation_0-error:0.12699	validation_1-error:0.21324
[21]	validation_0-error:0.12507	validation_1-error:0.21219
[22]	validation_0-error:0.12419	validation_1-error:0.21061
[23]	validation_0-error:0.12191	validation_1-error:0.21271
[24]	validation_0-error:0.12016	validation_1-error:0.21376
[25]	validation_0-error:0.11981	validation_1-error:0.21376
[26]	validation_0-error:0.11701	validation_1-error:0.21376
[27]	validation_0-error:0.11578	validation_1-error:0.21324
[28]	validation_0-error:0.11438	validation_1-error:0.21481
[29]	validation_0-error:0.11298	validation_1-error:0.20956
[30]	validation_0-error:0.11175	validation_1-error:0.21219
[31]	validation_0-error:0.11175	validation_1-error:0.20903
[32]	validation_0-error:0.10667	validation_1-error:0.21061
[33]	validation_0-error:0.10545	validation_1-error:0.21271
[34]	validation_0-error:0.10422	validation_1-error:0.21429
[35]	validation_0-error:0.10300	validation_1-error:0.21429
[36]	validation_0-error:0.10247	validation_1-error:0.21481
[37]	validation_0-error:0.10265	validation_1-error:0.21219
[38]	validation_0-error:0.10054	validation_1-error:0.21324
[39]	validation_0-error:0.09932	validation_1-error:0.21061
[40]	validation_0-error:0.09897	validation_1-error:0.20956
[41]	validation_0-error:0.09862	validation_1-error:0.20903
[42]	validation_0-error:0.09721	validation_1-error:0.21008
[43]	validation_0-error:0.09581	validation_1-error:0.21061
[44]	validation_0-error:0.09476	validation_1-error:0.21061
[45]	validation_0-error:0.09336	validation_1-error:0.20851
[46]	validation_0-error:0.09179	validation_1-error:0.20798
[47]	validation_0-error:0.08898	validation_1-error:0.20536
[48]	validation_0-error:0.08776	validation_1-error:0.20483
[49]	validation_0-error:0.08723	validation_1-error:0.20273
[50]	validation_0-error:0.08495	validation_1-error:0.20903
[51]	validation_0-error:0.08460	validation_1-error:0.20798
[52]	validation_0-error:0.08390	validation_1-error:0.20798
[53]	validation_0-error:0.08373	validation_1-error:0.20693
[54]	validation_0-error:0.07900	validation_1-error:0.20746
[55]	validation_0-error:0.07812	validation_1-error:0.20693
[56]	validation_0-error:0.07497	validation_1-error:0.20956
[57]	validation_0-error:0.07322	validation_1-error:0.21061
[58]	validation_0-error:0.07409	validation_1-error:0.21271
[59]	validation_0-error:0.07199	validation_1-error:0.20956
[60]	validation_0-error:0.07042	validation_1-error:0.20798
[61]	validation_0-error:0.07042	validation_1-error:0.21008
[62]	validation_0-error:0.06866	validation_1-error:0.21166
[63]	validation_0-error:0.06831	validation_1-error:0.21008
[64]	validation_0-error:0.06709	validation_1-error:0.21113
[65]	validation_0-error:0.06516	validation_1-error:0.21008
[66]	validation_0-error:0.06288	validation_1-error:0.21166
[67]	validation_0-error:0.06131	validation_1-error:0.21429
[68]	validation_0-error:0.06061	validation_1-error:0.21429
[69]	validation_0-error:0.06148	validation_1-error:0.21061
[70]	validation_0-error:0.05973	validation_1-error:0.21166
[71]	validation_0-error:0.05938	validation_1-error:0.21113
[72]	validation_0-error:0.05903	validation_1-error:0.21113
[73]	validation_0-error:0.05868	validation_1-error:0.21166
[74]	validation_0-error:0.05850	validation_1-error:0.21061
[75]	validation_0-error:0.05745	validation_1-error:0.20956
[76]	validation_0-error:0.05588	validation_1-error:0.20903
[77]	validation_0-error:0.05570	validation_1-error:0.20903
[78]	validation_0-error:0.05360	validation_1-error:0.20693
[79]	validation_0-error:0.05237	validation_1-error:0.20798
[80]	validation_0-error:0.05290	validation_1-error:0.20693
[81]	validation_0-error:0.05220	validation_1-error:0.20693
[82]	validation_0-error:0.05062	validation_1-error:0.20588
[83]	validation_0-error:0.05115	validation_1-error:0.20746
[84]	validation_0-error:0.05115	validation_1-error:0.20588
[85]	validation_0-error:0.05080	validation_1-error:0.20588
[86]	validation_0-error:0.04940	validation_1-error:0.20326
[87]	validation_0-error:0.04957	validation_1-error:0.20483
[88]	validation_0-error:0.04904	validation_1-error:0.20483
[89]	validation_0-error:0.04940	validation_1-error:0.20221
[90]	validation_0-error:0.04694	validation_1-error:0.20851
[91]	validation_0-error:0.04642	validation_1-error:0.20851
[92]	validation_0-error:0.04519	validation_1-error:0.20798
[93]	validation_0-error:0.04502	validation_1-error:0.20693
[94]	validation_0-error:0.04449	validation_1-error:0.20798
[95]	validation_0-error:0.04467	validation_1-error:0.20588
[96]	validation_0-error:0.04326	validation_1-error:0.21008
[97]	validation_0-error:0.04204	validation_1-error:0.20903
[98]	validation_0-error:0.04116	validation_1-error:0.20851
[99]	validation_0-error:0.04081	validation_1-error:0.20903
[100]	validation_0-error:0.04029	validation_1-error:0.20851
[101]	validation_0-error:0.03959	validation_1-error:0.20746
[102]	validation_0-error:0.03976	validation_1-error:0.20641
[103]	validation_0-error:0.03889	validation_1-error:0.20693
[104]	validation_0-error:0.03836	validation_1-error:0.20641
[105]	validation_0-error:0.03748	validation_1-error:0.20588
[106]	validation_0-error:0.03713	validation_1-error:0.20693
[107]	validation_0-error:0.03538	validation_1-error:0.20851
[108]	validation_0-error:0.03433	validation_1-error:0.20536
[109]	validation_0-error:0.03468	validation_1-error:0.20903
[110]	validation_0-error:0.03416	validation_1-error:0.20903
[111]	validation_0-error:0.03416	validation_1-error:0.20851
[112]	validation_0-error:0.03293	validation_1-error:0.20956
[113]	validation_0-error:0.03275	validation_1-error:0.20798
[114]	validation_0-error:0.03275	validation_1-error:0.20746
[115]	validation_0-error:0.03258	validation_1-error:0.20378
[116]	validation_0-error:0.03241	validation_1-error:0.20536
[117]	validation_0-error:0.03258	validation_1-error:0.20746
[118]	validation_0-error:0.03241	validation_1-error:0.20746
[119]	validation_0-error:0.03118	validation_1-error:0.20798
[120]	validation_0-error:0.02978	validation_1-error:0.20693
[121]	validation_0-error:0.02995	validation_1-error:0.20693
[122]	validation_0-error:0.02978	validation_1-error:0.20693
[123]	validation_0-error:0.02960	validation_1-error:0.20798
[124]	validation_0-error:0.02960	validation_1-error:0.20693
[125]	validation_0-error:0.02908	validation_1-error:0.20693
[126]	validation_0-error:0.02750	validation_1-error:0.20693
[127]	validation_0-error:0.02785	validation_1-error:0.20693
[128]	validation_0-error:0.02715	validation_1-error:0.20693
[129]	validation_0-error:0.02732	validation_1-error:0.20746
[130]	validation_0-error:0.02697	validation_1-error:0.20536
[131]	validation_0-error:0.02697	validation_1-error:0.20798
[132]	validation_0-error:0.02627	validation_1-error:0.20746
[133]	validation_0-error:0.02627	validation_1-error:0.20798
[134]	validation_0-error:0.02540	validation_1-error:0.20641
[135]	validation_0-error:0.02522	validation_1-error:0.20693
[136]	validation_0-error:0.02540	validation_1-error:0.20641
[137]	validation_0-error:0.02575	validation_1-error:0.20746
[138]	validation_0-error:0.02540	validation_1-error:0.20851
[139]	validation_0-error:0.02540	validation_1-error:0.20693
Stopping. Best iteration:
[89]	validation_0-error:0.04940	validation_1-error:0.20221

Train Score 0.9506043089858118
Test Score 0.7977941176470589
CPU times: user 22.7 s, sys: 916 ms, total: 23.6 s
Wall time: 6.64 s

In [46]:
n_estimators = xgboost.get_booster().best_ntree_limit
params['n_estimators'] = n_estimators
n_estimators

90

In [47]:
%%time

param_test = {
 'subsample':[i/10.0 for i in range(6,10)],
 'colsample_bytree':[i/10.0 for i in range(6,10)]
}

cv = GridSearchCV(estimator = XGBClassifier(**params), param_grid = param_test,\
                  n_jobs=-1, scoring = 'f1')
cv.fit(X_train,y_train)
pd.DataFrame(cv.cv_results_), cv.best_params_, cv.best_score_

CPU times: user 9.25 s, sys: 153 ms, total: 9.4 s
Wall time: 5min

(    mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
 0        9.643356      2.382829         0.080233        0.007758
 1       12.833365      1.621034         0.074400        0.010514
 2       13.934335      0.935766         0.091235        0.022558
 3       13.520961      1.252291         0.074003        0.009601
 4       13.709084      1.993249         0.079113        0.005034
 5       13.968434      1.195695         0.077733        0.012731
 6       15.648760      0.885464         0.075828        0.012601
 7       15.039387      1.174774         0.077131        0.007746
 8       16.227426      0.925759         0.076019        0.002261
 9       15.482177      1.270868         0.078821        0.007623
 10      16.482877      1.061980         0.067182        0.005339
 11      15.906068      0.758879         0.079616        0.010872
 12      16.290434      0.380233         0.079688        0.008072
 13      16.067984      0.264690         0.077627        0.005530
 14      15.978500      1.311155         0.079315        0.008989
 15      14.409551      2.856412         0.053097        0.022491

    param_colsample_bytree param_subsample  \
 0                     0.6             0.6
 1                     0.6             0.7
 2                     0.6             0.8
 3                     0.6             0.9
 4                     0.7             0.6
 5                     0.7             0.7
 6                     0.7             0.8
 7                     0.7             0.9
 8                     0.8             0.6
 9                     0.8             0.7
 10                    0.8             0.8
 11                    0.8             0.9
 12                    0.9             0.6
 13                    0.9             0.7
 14                    0.9             0.8
 15                    0.9             0.9

                                          params  split0_test_score  \
 0   {'colsample_bytree': 0.6, 'subsample': 0.6}           0.715859
 1   {'colsample_bytree': 0.6, 'subsample': 0.7}           0.700893
 2   {'colsample_bytree': 0.6, 'subsample': 0.8}           0.708749
 3   {'colsample_bytree': 0.6, 'subsample': 0.9}           0.721421
 4   {'colsample_bytree': 0.7, 'subsample': 0.6}           0.714912
 5   {'colsample_bytree': 0.7, 'subsample': 0.7}           0.702104
 6   {'colsample_bytree': 0.7, 'subsample': 0.8}           0.700441
 7   {'colsample_bytree': 0.7, 'subsample': 0.9}           0.695749
 8   {'colsample_bytree': 0.8, 'subsample': 0.6}           0.709467
 9   {'colsample_bytree': 0.8, 'subsample': 0.7}           0.705752
 10  {'colsample_bytree': 0.8, 'subsample': 0.8}           0.702407
 11  {'colsample_bytree': 0.8, 'subsample': 0.9}           0.699223
 12  {'colsample_bytree': 0.9, 'subsample': 0.6}           0.698661
 13  {'colsample_bytree': 0.9, 'subsample': 0.7}           0.702222
 14  {'colsample_bytree': 0.9, 'subsample': 0.8}           0.706140
 15  {'colsample_bytree': 0.9, 'subsample': 0.9}           0.707828

     split1_test_score  split2_test_score  split3_test_score  \
 0            0.732424           0.724444           0.694897
 1            0.723849           0.727273           0.704619
 2            0.727468           0.741228           0.687704
 3            0.733690           0.727891           0.701187
 4            0.724029           0.727876           0.699784
 5            0.715499           0.737542           0.709817
 6            0.713228           0.730300           0.690323
 7            0.727848           0.741648           0.699240
 8            0.715328           0.725664           0.680571
 9            0.721693           0.723640           0.692810
 10           0.726305           0.749446           0.690554
 11           0.717949           0.721907           0.693566
 12           0.723224           0.735456           0.703947
 13           0.718487           0.726269           0.690399
 14           0.728435           0.732519           0.681769
 15           0.723224           0.734007           0.704865

     split4_test_score  mean_test_score  std_test_score  rank_test_score
 0            0.709328         0.715390        0.012877                6
 1            0.702820         0.711891        0.011276               10
 2            0.711939         0.715417        0.018089                5
 3            0.708155         0.718469        0.012118                1
 4            0.705252         0.714371        0.010695                7
 5            0.715676         0.716127        0.011795                3
 6            0.688669         0.704592        0.015555               16
 7            0.701525         0.713202        0.018219                8
 8            0.715048         0.709216        0.015248               13
 9            0.706652         0.710110        0.011379               12
 10           0.709189         0.715580        0.020507                4
 11           0.698585         0.706246        0.011411               15
 12           0.698925         0.712042        0.014764                9
 13           0.696486         0.706773        0.013505               14
 14           0.706510         0.711075        0.018250               11
 15           0.714132         0.716811        0.010653                2  ,
 {'colsample_bytree': 0.6, 'subsample': 0.9},
 0.7184685539436912)

In [48]:
%%time

param_test = {
 'colsample_bytree':[i/10.0 for i in range(4,7)],
 'subsample':[i/100.0 for i in range(85,100,5)]
}

cv = GridSearchCV(estimator = XGBClassifier(**params), param_grid = param_test,\
                  n_jobs=-1, scoring = 'f1')
cv.fit(X_train,y_train)
pd.DataFrame(cv.cv_results_), cv.best_params_, cv.best_score_

CPU times: user 7.85 s, sys: 154 ms, total: 8.01 s
Wall time: 2min 3s

(   mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
 0       9.387490      1.633358         0.080788        0.009120
 1       8.681468      0.579147         0.075009        0.010359
 2       9.078828      0.864635         0.082587        0.009509
 3      10.900328      1.067851         0.077966        0.008577
 4      10.970867      0.630838         0.081556        0.004846
 5      10.777778      0.974785         0.093706        0.021471
 6      12.257357      0.847964         0.075163        0.005707
 7      11.903859      0.720983         0.079391        0.016700
 8      11.458119      1.626601         0.056121        0.024680

   param_colsample_bytree param_subsample  \
 0                    0.4            0.85
 1                    0.4             0.9
 2                    0.4            0.95
 3                    0.5            0.85
 4                    0.5             0.9
 5                    0.5            0.95
 6                    0.6            0.85
 7                    0.6             0.9
 8                    0.6            0.95

                                          params  split0_test_score  \
 0  {'colsample_bytree': 0.4, 'subsample': 0.85}           0.718853
 1   {'colsample_bytree': 0.4, 'subsample': 0.9}           0.719823
 2  {'colsample_bytree': 0.4, 'subsample': 0.95}           0.704720
 3  {'colsample_bytree': 0.5, 'subsample': 0.85}           0.718404
 4   {'colsample_bytree': 0.5, 'subsample': 0.9}           0.702222
 5  {'colsample_bytree': 0.5, 'subsample': 0.95}           0.702882
 6  {'colsample_bytree': 0.6, 'subsample': 0.85}           0.703911
 7   {'colsample_bytree': 0.6, 'subsample': 0.9}           0.721421
 8  {'colsample_bytree': 0.6, 'subsample': 0.95}           0.717439

    split1_test_score  split2_test_score  split3_test_score  split4_test_score  \
 0           0.730397           0.730726           0.696605           0.706392
 1           0.743941           0.732519           0.694714           0.710921
 2           0.735511           0.736959           0.691466           0.710671
 3           0.741214           0.735327           0.693391           0.713666
 4           0.722045           0.728285           0.686600           0.707527
 5           0.733690           0.728080           0.693654           0.711063
 6           0.725926           0.726457           0.704865           0.711014
 7           0.733690           0.727891           0.701187           0.708155
 8           0.718550           0.740331           0.704846           0.705495

    mean_test_score  std_test_score  rank_test_score
 0         0.716595        0.013409                5
 1         0.720384        0.017035                2
 2         0.715865        0.017762                6
 3         0.720400        0.016940                1
 4         0.709336        0.014774                9
 5         0.713874        0.015047                8
 6         0.714435        0.009906                7
 7         0.718469        0.012118                3
 8         0.717332        0.012857                4  ,
 {'colsample_bytree': 0.5, 'subsample': 0.85},
 0.7204002707044166)

In [49]:
params['subsample'] = 0.85

In [50]:
%%time

param_test = {
 'colsample_bytree':[i/100.0 for i in range(45,60,5)]
}

cv = GridSearchCV(estimator = XGBClassifier(**params), param_grid = param_test,\
                  n_jobs=-1, scoring = 'f1')
cv.fit(X_train,y_train)
pd.DataFrame(cv.cv_results_), cv.best_params_, cv.best_score_

CPU times: user 7.75 s, sys: 81.8 ms, total: 7.83 s
Wall time: 45.7 s

(   mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
 0      10.475254      0.784338         0.078667        0.006653
 1      11.854054      0.325791         0.077756        0.010011
 2      11.252456      3.050187         0.049751        0.020028

   param_colsample_bytree                      params  split0_test_score  \
 0                   0.45  {'colsample_bytree': 0.45}           0.711111
 1                    0.5   {'colsample_bytree': 0.5}           0.718404
 2                   0.55  {'colsample_bytree': 0.55}           0.711454

    split1_test_score  split2_test_score  split3_test_score  split4_test_score  \
 0           0.732484           0.717778           0.690187           0.715217
 1           0.741214           0.735327           0.693391           0.713666
 2           0.726305           0.731654           0.688742           0.700431

    mean_test_score  std_test_score  rank_test_score
 0         0.713356        0.013643                2
 1         0.720400        0.016940                1
 2         0.711717        0.015910                3  ,
 {'colsample_bytree': 0.5},
 0.7204002707044166)

In [51]:
params['colsample_bytree'] = 0.5

In [52]:
%%time

#Vemos los resultados con los hiperparametros tuneados
params['n_estimators'] = 1000

xgboost = XGBClassifier(**params)

xgboost.fit(X_train, y_train, eval_set = eval_set, early_stopping_rounds = 50)

print('Train Score', xgboost.score(X_train, y_train))
print('Test Score', xgboost.score(X_test, y_test))

[0]	validation_0-error:0.23594	validation_1-error:0.28309
Multiple eval metrics have been passed: 'validation_1-error' will be used for early stopping.

Will train until validation_1-error hasn't improved in 50 rounds.
[1]	validation_0-error:0.20354	validation_1-error:0.26786
[2]	validation_0-error:0.19688	validation_1-error:0.26418
[3]	validation_0-error:0.18497	validation_1-error:0.24527
[4]	validation_0-error:0.18059	validation_1-error:0.24370
[5]	validation_0-error:0.16921	validation_1-error:0.24527
[6]	validation_0-error:0.16588	validation_1-error:0.23739
[7]	validation_0-error:0.16097	validation_1-error:0.23372
[8]	validation_0-error:0.15729	validation_1-error:0.22637
[9]	validation_0-error:0.15011	validation_1-error:0.22899
[10]	validation_0-error:0.14976	validation_1-error:0.22899
[11]	validation_0-error:0.14591	validation_1-error:0.22742
[12]	validation_0-error:0.14346	validation_1-error:0.22269
[13]	validation_0-error:0.14136	validation_1-error:0.22216
[14]	validation_0-error:0.13820	validation_1-error:0.22216
[15]	validation_0-error:0.13593	validation_1-error:0.22952
[16]	validation_0-error:0.13365	validation_1-error:0.22479
[17]	validation_0-error:0.12945	validation_1-error:0.22479
[18]	validation_0-error:0.12734	validation_1-error:0.22426
[19]	validation_0-error:0.12542	validation_1-error:0.22479
[20]	validation_0-error:0.12384	validation_1-error:0.22479
[21]	validation_0-error:0.11964	validation_1-error:0.22006
[22]	validation_0-error:0.11999	validation_1-error:0.22216
[23]	validation_0-error:0.11771	validation_1-error:0.22321
[24]	validation_0-error:0.11543	validation_1-error:0.22479
[25]	validation_0-error:0.11473	validation_1-error:0.22164
[26]	validation_0-error:0.11473	validation_1-error:0.22059
[27]	validation_0-error:0.11456	validation_1-error:0.21744
[28]	validation_0-error:0.11280	validation_1-error:0.21954
[29]	validation_0-error:0.11053	validation_1-error:0.22006
[30]	validation_0-error:0.11070	validation_1-error:0.21586
[31]	validation_0-error:0.10737	validation_1-error:0.21691
[32]	validation_0-error:0.10387	validation_1-error:0.21691
[33]	validation_0-error:0.10159	validation_1-error:0.21586
[34]	validation_0-error:0.10037	validation_1-error:0.21166
[35]	validation_0-error:0.09949	validation_1-error:0.21429
[36]	validation_0-error:0.09897	validation_1-error:0.21376
[37]	validation_0-error:0.09844	validation_1-error:0.21166
[38]	validation_0-error:0.09774	validation_1-error:0.21008
[39]	validation_0-error:0.09721	validation_1-error:0.20798
[40]	validation_0-error:0.09651	validation_1-error:0.20588
[41]	validation_0-error:0.09441	validation_1-error:0.20641
[42]	validation_0-error:0.09371	validation_1-error:0.20746
[43]	validation_0-error:0.09196	validation_1-error:0.20588
[44]	validation_0-error:0.09091	validation_1-error:0.21113
[45]	validation_0-error:0.08986	validation_1-error:0.20903
[46]	validation_0-error:0.08951	validation_1-error:0.20798
[47]	validation_0-error:0.08741	validation_1-error:0.21061
[48]	validation_0-error:0.08653	validation_1-error:0.20746
[49]	validation_0-error:0.08565	validation_1-error:0.20693
[50]	validation_0-error:0.08513	validation_1-error:0.20693
[51]	validation_0-error:0.08495	validation_1-error:0.20536
[52]	validation_0-error:0.08285	validation_1-error:0.20641
[53]	validation_0-error:0.08092	validation_1-error:0.20588
[54]	validation_0-error:0.08092	validation_1-error:0.20851
[55]	validation_0-error:0.07917	validation_1-error:0.20588
[56]	validation_0-error:0.07690	validation_1-error:0.20588
[57]	validation_0-error:0.07637	validation_1-error:0.20798
[58]	validation_0-error:0.07532	validation_1-error:0.20746
[59]	validation_0-error:0.07287	validation_1-error:0.20903
[60]	validation_0-error:0.07217	validation_1-error:0.21008
[61]	validation_0-error:0.06936	validation_1-error:0.20746
[62]	validation_0-error:0.06831	validation_1-error:0.20746
[63]	validation_0-error:0.06709	validation_1-error:0.20536
[64]	validation_0-error:0.06709	validation_1-error:0.20378
[65]	validation_0-error:0.06674	validation_1-error:0.20431
[66]	validation_0-error:0.06621	validation_1-error:0.20378
[67]	validation_0-error:0.06534	validation_1-error:0.20378
[68]	validation_0-error:0.06463	validation_1-error:0.20431
[69]	validation_0-error:0.06393	validation_1-error:0.20326
[70]	validation_0-error:0.06253	validation_1-error:0.20326
[71]	validation_0-error:0.06253	validation_1-error:0.20378
[72]	validation_0-error:0.06148	validation_1-error:0.20326
[73]	validation_0-error:0.05938	validation_1-error:0.20273
[74]	validation_0-error:0.05815	validation_1-error:0.20063
[75]	validation_0-error:0.05833	validation_1-error:0.20116
[76]	validation_0-error:0.05850	validation_1-error:0.20063
[77]	validation_0-error:0.05605	validation_1-error:0.19958
[78]	validation_0-error:0.05658	validation_1-error:0.19958
[79]	validation_0-error:0.05588	validation_1-error:0.20116
[80]	validation_0-error:0.05570	validation_1-error:0.20221
[81]	validation_0-error:0.05412	validation_1-error:0.20483
[82]	validation_0-error:0.05412	validation_1-error:0.20326
[83]	validation_0-error:0.05342	validation_1-error:0.20378
[84]	validation_0-error:0.05342	validation_1-error:0.20431
[85]	validation_0-error:0.05237	validation_1-error:0.20116
[86]	validation_0-error:0.05185	validation_1-error:0.20116
[87]	validation_0-error:0.05202	validation_1-error:0.20168
[88]	validation_0-error:0.05185	validation_1-error:0.20063
[89]	validation_0-error:0.05150	validation_1-error:0.20063
[90]	validation_0-error:0.05010	validation_1-error:0.20273
[91]	validation_0-error:0.04957	validation_1-error:0.20378
[92]	validation_0-error:0.04940	validation_1-error:0.20221
[93]	validation_0-error:0.04957	validation_1-error:0.20431
[94]	validation_0-error:0.04922	validation_1-error:0.20431
[95]	validation_0-error:0.04834	validation_1-error:0.20693
[96]	validation_0-error:0.04834	validation_1-error:0.20641
[97]	validation_0-error:0.04852	validation_1-error:0.20378
[98]	validation_0-error:0.04799	validation_1-error:0.20693
[99]	validation_0-error:0.04554	validation_1-error:0.20431
[100]	validation_0-error:0.04414	validation_1-error:0.20431
[101]	validation_0-error:0.04292	validation_1-error:0.20273
[102]	validation_0-error:0.04274	validation_1-error:0.20168
[103]	validation_0-error:0.04256	validation_1-error:0.20116
[104]	validation_0-error:0.04204	validation_1-error:0.20378
[105]	validation_0-error:0.04151	validation_1-error:0.20693
[106]	validation_0-error:0.04064	validation_1-error:0.20746
[107]	validation_0-error:0.04011	validation_1-error:0.20641
[108]	validation_0-error:0.04029	validation_1-error:0.20588
[109]	validation_0-error:0.04029	validation_1-error:0.20641
[110]	validation_0-error:0.03941	validation_1-error:0.20851
[111]	validation_0-error:0.03924	validation_1-error:0.20956
[112]	validation_0-error:0.03836	validation_1-error:0.20746
[113]	validation_0-error:0.03836	validation_1-error:0.20746
[114]	validation_0-error:0.03818	validation_1-error:0.20536
[115]	validation_0-error:0.03784	validation_1-error:0.20746
[116]	validation_0-error:0.03784	validation_1-error:0.20641
[117]	validation_0-error:0.03766	validation_1-error:0.20536
[118]	validation_0-error:0.03713	validation_1-error:0.20431
[119]	validation_0-error:0.03678	validation_1-error:0.20588
[120]	validation_0-error:0.03591	validation_1-error:0.20326
[121]	validation_0-error:0.03486	validation_1-error:0.20221
[122]	validation_0-error:0.03381	validation_1-error:0.20588
[123]	validation_0-error:0.03346	validation_1-error:0.20903
[124]	validation_0-error:0.03311	validation_1-error:0.20693
[125]	validation_0-error:0.03293	validation_1-error:0.20483
[126]	validation_0-error:0.03275	validation_1-error:0.20641
[127]	validation_0-error:0.03258	validation_1-error:0.20641
Stopping. Best iteration:
[77]	validation_0-error:0.05605	validation_1-error:0.19958

Train Score 0.9439481520406376
Test Score 0.8004201680672269
CPU times: user 16.8 s, sys: 815 ms, total: 17.6 s
Wall time: 5.26 s

In [53]:
n_estimators = xgboost.get_booster().best_ntree_limit
params['n_estimators'] = n_estimators
n_estimators

78

In [54]:
xgboost = XGBClassifier(**params)

xgboost.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=7,
              min_child_weight=2, missing=nan, monotone_constraints='()',
              n_estimators=78, n_jobs=4, nthread=4, num_parallel_tree=1,
              random_state=27, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=27, subsample=0.85, tree_method='exact',
              validate_parameters=1, verbosity=None)

In [55]:
predicts = xgboost.predict(test_df)

In [56]:
submit = pd.read_csv('setDeDatos/nlp-getting-started/sample_submission.csv')
submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3263 non-null   int64
 1   target  3263 non-null   int64
dtypes: int64(2)
memory usage: 51.1 KB

In [57]:
submit['target'].value_counts()

0    3263
Name: target, dtype: int64

In [58]:
submit['target'] = pd.DataFrame({'target':predicts})
submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3263 non-null   int64
 1   target  3263 non-null   int64
dtypes: int64(2)
memory usage: 51.1 KB

In [59]:
submit['target'].value_counts()

0    2098
1    1165
Name: target, dtype: int64

In [60]:
submit.to_csv('Submits/submit_bow_xgboost.csv', index=False)