In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import cycle, islice

%matplotlib inline

In [3]:
import nltk

In [4]:
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer 
from nltk.stem import PorterStemmer

In [5]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/cecilia/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/cecilia/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [32]:
train = pd.read_csv('Archivos/entrenamiento_df.csv')
test = pd.read_csv('Archivos/test_df.csv')

In [33]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [34]:
train['text'][2]

"All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected"

In [35]:
# Separa en palabras, ignorando los signos de puntuación
palabras = RegexpTokenizer(r'\w+').tokenize(train['text'][2])
palabras

['All',
 'residents',
 'asked',
 'to',
 'shelter',
 'in',
 'place',
 'are',
 'being',
 'notified',
 'by',
 'officers',
 'No',
 'other',
 'evacuation',
 'or',
 'shelter',
 'in',
 'place',
 'orders',
 'are',
 'expected']

In [36]:
# Se quitan las stop words
palabras = [w for w in palabras if not w in stopwords.words('english')]
palabras

['All',
 'residents',
 'asked',
 'shelter',
 'place',
 'notified',
 'officers',
 'No',
 'evacuation',
 'shelter',
 'place',
 'orders',
 'expected']

In [37]:
# Se vuelven las palabras a su raíz
[PorterStemmer().stem(word) for word in palabras]

[u'All',
 u'resid',
 u'ask',
 u'shelter',
 u'place',
 u'notifi',
 u'offic',
 u'No',
 u'evacu',
 u'shelter',
 u'place',
 u'order',
 u'expect']

In [38]:
# Separo el texto en palabras
train['text'] = train['text'].apply(lambda x: RegexpTokenizer(r'\w+').tokenize(x))

In [39]:
# Elimino las stop words y paso las palabras a minusculas
train['text'] = train['text'].apply(lambda x: [w.lower() for w in x if w not in stopwords.words('english')])

/home/cecilia/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  """Entry point for launching an IPython kernel.

In [40]:
# Convierto las palabras a su raíz
train['text'] = train['text'].apply(lambda x: [PorterStemmer().stem(w.decode("utf8", "ignore")) for w in x])

In [41]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,"[our, deed, reason, earthquak, may, allah, for...",1
1,4,NaN,NaN,"[forest, fire, near, la, rong, sask, canada]",1
2,5,NaN,NaN,"[all, resid, ask, shelter, place, notifi, offi...",1
3,6,NaN,NaN,"[13, 000, peopl, receiv, wildfir, evacu, order...",1
4,7,NaN,NaN,"[just, got, sent, photo, rubi, alaska, smoke, ...",1

In [44]:
train.to_csv('Archivos/entrenamiento_nltk.csv', index=False)

In [42]:
# Hago lo mismo con el archivo test
test['text'] = test['text'].apply(lambda x: RegexpTokenizer(r'\w+').tokenize(x))
test['text'] = test['text'].apply(lambda x: [w.lower() for w in x if w not in stopwords.words('english')])
test['text'] = test['text'].apply(lambda x: [PorterStemmer().stem(w.decode("utf8", "ignore")) for w in x])

/home/cecilia/.local/lib/python2.7/site-packages/ipykernel_launcher.py:3: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  This is separate from the ipykernel package so we can avoid doing imports until

In [43]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                [just, happen, terribl, car, crash]
1   2     NaN      NaN  [heard, earthquak, differ, citi, stay, safe, e...
2   3     NaN      NaN  [forest, fire, spot, pond, gees, flee, across,...
3   9     NaN      NaN                [apocalyps, light, spokan, wildfir]
4  11     NaN      NaN       [typhoon, soudelor, kill, 28, china, taiwan]

In [45]:
test.to_csv('Archivos/test_nltk.csv', index=False)